html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td ,thead{margin: 0px;padding: 0px;}
body{font:12px "Î¢ÈíÑÅºÚ","Arial Narrow",HELVETICA;}
a{text-decoration:none;}
ul,li{list-style-type:none;}
img,a{border:0 none;}
#wrap{text-align:left;}
em,i{font-style:normal;}

.fl,.fr{float:left;display:inline;}
.fr{float:right;}
.top30{margin-top:30px;}
.clear{clear:both;}
/*³õÊ¼»¯*/
.header_bg{background:url(../index_files/body_bg.png) 0 0 repeat-x;width:100%;height:101px;}
.header{width:990px;height:101px;margin:0 auto;background:url(../index_files/header_bg.jpg) 0 0 repeat-x;}
.logo{float:left;width:200px;height:101px;}
.logo img{float:left;margin-top:30px;}
.logo_right{float:right;width:660px;height:101px;}
.top_list{float:right;margin-top:5px;width:510px;}
.top_list a{width:94px;height:24px;display:block;float:left;text-align:left;color:#fff;margin-left:6px;}
.top_list_a1 span{background:url(../index_files/top_listbg.jpg) 6px 0 no-repeat;}
.top_list_a2 span{background:url(../index_files/top_listbg.jpg) 6px -12px no-repeat;}
.language {width:94px;height:24px;display:block;float:left;text-align:left;color:#fff;margin-left:6px;background:#0099dc;position:relative;left:0px;top:0px;}
.language  span{background:url(../index_files/top_listbg.jpg) 6px -24px no-repeat;width:64px;height:12px;display:block;line-height:12px;margin-top:6px;padding-left:30px;position:absolute;left:0px;top:0px;}

#language_list{width:94px;height:48px;background:#0099dc;position:absolute;left:0px;top:24px;display:none;z-index:999999;} 
#language_list b{width:64px;padding-left:30px;height:12px;display:block;line-height:12px;margin-bottom:8px; margin-top:8px;cursor:pointer;}
#language_list b:hover {color:#333;}
.b1{background:url(../index_files/top_listbg.jpg) 6px -24px no-repeat;}
.b2{background:url(../index_files/top_listbg.jpg) 6px -36px no-repeat;}
.b3{background:url(../index_files/top_listbg2.jpg) 6px -24px no-repeat;}
.language span{background:url(../index_files/top_listbg.jpg) 6px -24px no-repeat;cursor:pointer;}
.top_list .top_list_a1 {background:#fff;border:1px solid #ccc;width:92px;height:22px;color:#333;}
.top_list_a2 {background:#535353;}
.top_list_a3 {background:#0099dc;}
.top_list a span{width:64px;height:12px;display:block;line-height:12px;padding-left:30px;margin-bottom:6px; margin-top:6px;}
.top_list a span.nobg{width:64px;height:12px;display:block;line-height:12px;padding-left:30px;margin-bottom:6px; margin-top:6px; background: none;}
.index_nav{float:right;width:660px;margin-top:30px;}
.index_nav li{float:left;width:110px;height:30px;text-align:center;position:relative;left:0px;top:0px;z-index:999;}
.index_nav li .index_a{line-height:30px;font-size:15px;color:#666;position:absolute;left:0px;top:0px;width:110px;height:30px;}
.index_nav li .a_index_nav{color:#0099dc;}.index_nav li a:hover{color:#0099dc;}
.index_nav2{width:108px;height:auto;position:absolute;left:0px;top:42px;z-index:999;background:#fff;border:1px solid #eee;border-top:none;display:none;}
.index_nav2 a{float:left;width:108px;line-height:25px;height:24px;border-bottom:1px solid #eee;color:#666;}
.index_nav  .index_nav2 a:hover{background:#0093D0; color:#fff;}
/*banenr*/
.banner_bg{width:100%;height:auto;position:relative;z-index:0;}
.banner{width:990px;margin:0 auto;height:auto;}
.banner ul li a img{display:block;}
.banner_top{width:990px;height:380px;position:relative;left:0px;top:0px;overflow:hidden;}
.banner_ul{width:auto;height:380px;position:absolute;left:0px;top:0px;}
.banner_ul li{float:left;width:990px;height:380px;}
.banner_ul li img{display:block;}
.banner_nav{position:absolute;left:10px;top:340px;}
.banner_nav span{width:13px;height:13px;display:block;margin-left:7px;background:url(../index_files/banenr_nav_bg.png) 0 -13px no-repeat;float:left;overflow:hidden;cursor:pointer;}
.banner_nav .banenr_nav_hover{width:13px;height:13px;display:block;margin-left:7px;background:url(../index_files/banenr_nav_bg.png) 0 0px no-repeat;float:left;}
.banner_bottom{width:990px;height:88px;background:#004F9C;color:#fff;}
.banner_bottom_left{float:left;width:556px;height:88px;}
.banner_bottom_left a{float:left;display:block;width:109px;color:#fff;line-height:40px;padding-top:48px;text-align:center;}
.banner_bottom span{width:120px;height:88px;font-size:20px;font-weight:bold;text-align:center;display:block;line-height:88px;float:left;}
.banner_bottom_right{width:434px;background:#0092d1;float:left;}
.banner_bottom_right a{float:left;height:43px;width:156px;line-height:43px;text-align:center;border:1px solid #33a8da;color:#fff;font-size:14px;}

/*lunbo*/
.index_lunbo_bg{width:100%;height:auto;}
.index_lunbo{width:990px;height:220px;margin:0 auto;margin-top:40px;}
#index_prev{background:url(../index_files/index_lun_btn.png) -47px 0 no-repeat;width:47px;height:92px;display:block;margin-top:60px;float:left;cursor:pointer;}
#index_next{background:url(../index_files/index_lun_btn.png) 0 0 no-repeat;width:47px;height:92px;display:block;margin-top:60px;float:left;cursor:pointer;}
#index_prev:hover{background:url(../index_files/index_lun_btn.png) -47px -92px no-repeat;width:47px;height:92px;display:block;margin-top:60px;float:left;}
#index_next:hover{background:url(../index_files/index_lun_btn.png) 0 -92px no-repeat;width:47px;height:92px;display:block;margin-top:60px;float:left;}
.index_lunbo_out{width:890px;margin-left:3px;float:left;height:220px;position:relative;left:0px;top:0px;overflow:hidden;}
#index_lunbo_ul{width:auto;height:220px;position:absolute;left:0px;top:0px;}
#index_lunbo_ul li{float:left;width:290px;margin-right:9px;height:217px;}
#index_lunbo_ul li span{display:block;float:left;line-height:38px;text-align:left;width:290px;font-size:16px;font-weight:bold;}
#index_lunbo_ul li img{display:block;float:left;}


.index_main_bg{width:100%;height:auto;margin-top:20px;}
.index_main{width:990px;height:190px;margin:0 auto;}
.index_main1{float:left;width:323px;height:190px;display:block;}
.index_main1 span{line-height:40px;display:block;float:left;color:#004f9c;font-size:16px;}
.index_main1 img{float:left;display:block;}
.index_main2{float:left;width:318px;height:190px;margin-left:14px;display:block;}
.index_main2 p{line-height:40px;display:block;float:left;color:#666;font-size:16px;font-weight:bold;height:40px;}
.index_main2 ul{width:318px;height:150px;background:#eee;float:left;padding-bottom:5px;}
.index_main2 ul li{float:left;height:25px;line-height:25px;padding-left:15px;background:url(../index_files/index_main2_listbg.jpg) 5px center no-repeat;width:303px;}
.index_main2 ul li a{float:left;color:#333;}
.index_main2 ul li b{float:right;color:#333;margin-right:10px;}

.hezuo_bg{width:100%;height:auto;margin-top:30px;}
.hezuo{width:990px;background:url(../index_files/hezuo_bg.jpg) 0 0 no-repeat;height:102px;margin:0 auto;}
.hezuo_left{float:left;width:200px;height:82px;text-align:left;padding-top:20px;}
.hezuo_left span{width:170px;line-height:35px;color:#fff;font-size:30px;padding-left:30px;}
.hezuo_left b{float:left;line-height:25px;color:#fff;font-size:24px;width:170px;padding-left:30px;}
.hezuo_out{float:right;width:670px;height:102px;position:relative;left:0px;top:0px;overflow:hidden;margin-right:50px;}
#hezuo_ul{float:left;width:auto;height:102px;position:absolute;left:0px;top:0px;}
#hezuo_ul li{width:160px;margin-right:7px;height:102px;float:left;}
#hezuo_ul li img{display:block;margin-top:30px;}

.footer_bg{width:100%;height:256px;background:url(../index_files/fotter_bg.jpg) 0 0 repeat-x;margin-top:10px;}
.footer{width:990px;height:256px;margin:0 auto;}
.footer dl{width:990px;height:42px;float:left;line-height:20px;margin-top:15px;}
.footer dl  dd{float:left;width:490px;height:20px;margin-bottom:1px;}
.footer dl  dd span{width:155px;text-align:left;display:block;float:left;color:#fff;padding-left:5px;}
.footer dl  dd a{width:320px;text-align:left;display:block;float:left;padding-left:10px;height:20px;}
.footer dl  dd img{float:left;}

.footer_ul{width:720px;height:auto;float:left;margin-top:20px;}
.footer_ul li{width:180px;text-align:left;float:left;}
.footer_ul li span{width:180px;height:40px;color:#004f9c;font-size:16px;line-height:40px;display:block;}
.footer_ul li a{width:180px;height:26px;line-height:26px;display:block;font-size:14px;color:#222;}
.footer_logo{width:240px;height:auto;float:right;margin-top:40px;}
.footer_logo a{float:left;display:block;text-align:center;line-height:24px;color:#fff;float:left;margin-top:20px;}
.footer_logo1{width:100px;height:24px;background:#0092d1;margin-left:20px;}
.footer_logo2{width:100px;height:24px;background:#5a5a5a;margin-left:20px;}
.footer_logo3{background:url(../index_files/footer_logo1.png) 0 0 no-repeat;width:100px;height:28px;margin-left:20px;}
.footer_logo4{width:29px;height:29px;background:url(../index_files/footer_logo2.png) 0 0 no-repeat;margin-left:10px;}
.footer_logo5{width:29px;height:29px;background:url(../index_files/footer_logo2.png) -43px 0 no-repeat;margin-left:10px;}
.footer_logo6{width:29px;height:29px;background:url(../index_files/footer_logo2.png) -93px 0 no-repeat;margin-left:10px;}

/*about*/
.inside_bg{width:100%;height:auto;}
.inside{width:990px;height:auto;margin: 0 auto;}
.inside_banner{width:990px;float:left;}
.inside_banner img{display:block;float:left;}
.inside_left{width:230px;height:auto;float:left;margin-top:10px;}
.inside_left_nav{width:228px;height:auto;float:left;border:1px solid #ccc;border-top:1px solid #FE6A00;padding-bottom:15px;}
.inside_left_nav dt{width:230px;background:url(../index_files/inside_title_bg.jpg) 0 no-repeat;height:44px;text-align:left;padding-top:10px;margin-bottom:10px;margin-top:1px;}
.inside_left_nav dt span{width:230px;line-height:20px;margin-left:26px;color:#333;font-size:20px;display:block;}
.inside_left_nav dd{float:left;width:194px;height:28px;line-height:28px;margin-left:20px;margin-top:15px;background:#eee;}
.inside_left_nav dd a{padding-left:20px;background:url(../index_files/inside_list_bg.png) 6px center no-repeat;color:#333;}
.inside_left_nav .dd_hover{background:#318edc;}
.inside_left_nav .dd_hover a{color:#fff;}

.inside_left_list{width:230px;height:auto;float:left;}
.inside_left_list a{display:block;float:left;margin-top:20px;width:230px;height:60px;}
.inside_left_list1{background:url(../index_files/inside_nav_bg1.png) 0 0 no-repeat;}
.inside_left_list2{background:url(../index_files/inside_nav_bg2.png) 0 0 no-repeat;}
.inside_left_list3{background:url(../index_files/inside_nav_bg3.png) 0 0 no-repeat;}

.inside_left_img{width:230px;float:left;margin-top:30px;}
.inside_left_img img{float:left;display:block;}

.inside_right{width:739px;border-left:1px solid #ccc;float:left;margin-left:10px;margin-top:10px;padding-left:10px; min-height:670px;_height:670px;}
.inside_right_top{display:block;width:739px;line-height:40px;float:left;height:42px;}
.inside_right_top1{font-size:22px;float:left;width:139px;padding-left:10px;color:#333;line-height:40px;border-bottom:2px #666 solid;}
.inside_right_top_nav{width:590px;border-bottom:2px #ccc solid;height:40px;float:left;}
.inside_right_top_nav p a{float:left;margin-left:6px;color:#333;}
.inside_right_top_nav p{display:block;width:auto;float:right;padding-left:15px;background:url(../index_files/inside_top_navbg.png) 0 center no-repeat;}

.inside_right_note{width:739px;height:auo;float:left;min-height:670px;_height:670px;}
.inside_right_note p{line-height:24px;color:#333;margin-top:20px;}
.inside_right_note p span{color:#00488d;line-height:40px;display:block;font-size:18px;}

.inside_right_news{width:699px;height:auo;float:left;padding-left:20px;padding-right:20px;padding-bottom:10px;min-height:670px;_height:670px;}
.inside_right_news span{background:#f1f1f1;height:40px;line-height:40px;text-align:center;width:699px;height:40px;display:block;margin:20px 0;color:#ff6600;font-size:20px;}
.inside_right_news p{color:#111;line-height:24px;margin:20px 0px;}

.inside_right_information{width:739px;height:auto;float:left;padding-bottom:10px;min-height:670px;_height:670px;}
.inside_right_information ul{float:left;margin-top:10px;padding-bottom:20px;}
.inside_right_information ul li{float:left;width:709px;height:49px;border-bottom:1px dotted #ccc;line-height:50px;color:#666;font-size:14px;padding-left:30px;background:url(../index_files/inside_informatin_bg.jpg) 15px center no-repeat;}
.inside_right_information ul li a{float:left;color:#222;}
.inside_right_information ul li:hover a{color:#318edc;}
.inside_right_information ul li b{float:right;margin-right:10px;color:#222;}
.inside_right_information ul li:hover b{color:#318edc;}

.paginator{width:auto;height:30px;float:right;padding-top:10px;background:#fff;line-height:20px;}
.paginator a{display:block;border:solid 1px #ccc;color:#666;float:left;padding:4px 10px;margin-left:5px;}
.paginator a:hover{border:solid 1px #999;color:#06C;}


/*login*/
.inside_right_login{height:auo;float:left;width:739px;}
.login_top{width:739px;height:auto;float:left;margin-top:20px;background:#eee;padding-bottom:10px;}
.login_top dl{width:580px;height:auto;float:left;}
.login_top dl dt{width:550px;line-height:40px;font-size:18px;color:#ff6600;padding-left:30px;}
.login_top dl dd{width:250px;line-height:25px;color:#333;float:left;font-size:13px;text-align:left;padding-left:40px;}
.login_more{width:159px;float:left;height:auto;padding-top:100px;text-align:left;}
.login_more a{color:#005ba7;font-size:13px;font-weight:bold;}

.creat{width:739px;height:auto;float:left;margin-top:20px;}
.login_list_title{width:729px;float:left;display:block;line-height:40px;padding-left:10px;font-size:18px;color:#444;}
.creat_list{width:739px;height:auto;float:left;}
.creat dl{width:739px;height:auto;float:left;}
.creat dl dd{width:349px;height:40px;float:left;margin-top:10px;padding-left:20px;color:#666;line-height:40px;font-size:15px;background:url(../index_files/login_input_bg.png) 310px center no-repeat;}
.creat dl dd span{width:90px;height:auto;float:left;}
.creat dl dd input{border:1px solid #ddd;line-height:30px;height:30px;width:188px;margin-top:5px;background:#fff;float:left;}

.personage{width:739px;height:auto;float:left;margin-top:20px;}
.personage_list{width:739px;height:auto;float:left;}
.personage dl{width:739px;height:auto;float:left;}
.personage dl dd{width:220px;height:40px;float:left;margin-top:10px;margin-left:20px;color:#666;line-height:40px;font-size:15px;background:url(../index_files/login_input_bg.png) 210px center no-repeat;line-height:40px;}
.personage dl dd span{width:90px;height:auto;float:left;}
.personage dl dd input{float:left;width:108px;height:30px;border:1px solid #ddd;margin-top:5px;background:#fff;}
.personage dl .input_long{width:739px;background:url(../index_files/login_input_bg.png) 600px center no-repeat;}
.personage dl .input_longa{width:739px;}
.personage dl .input_longa input{width:500px;}
.personage dl .input_long input{width:500px;}

.condition{width:739px;height:auto;float:left;margin-top:20px;}
.condition_list{width:739px;height:auto;float:left;}
.condition dl{width:739px;height:auto;float:left;}
.condition dl dd{float:left;width:349px;height:40px;margin-top:10px;margin-left:20px;color:#666;line-height:40px;font-size:15px;background:url(../index_files/login_input_bg.png) 310px center no-repeat;line-height:40px;}
.condition dl dd span{float:left;width:90px;height:auto;}
.condition dl dd select{width:200px;height:30px;color:#444;margin-top:5px;}

.to_next{width:739px;height:auto;float:left;margin-top:40px;padding-bottom:20px;}
.to_next a{display:block;background:url(../index_files/to_next.jpg) 0 0 no-repeat;width:158px;height:35px;line-height:35px;color:#fff;font-size:18px;text-align:center;float:right;margin-right:40px;}


/*会员后台*/
.user_box .box,.AreaR .box{border:  1px solid #DADADA; background: #F8F8F8}
.user_box .box_1,.AreaR .box_1 {
  border: 0;
  background-color: #f8f8f8;
}
.user_box .box_1 .userCenterBox{
  background-color: #f8f8f8;
  border: 0;
}
.AreaR .box_1 .userCenterBox{

  border: 0;
}
.user_box .box_1 .userCenterBox .userMenu a.curs {
  
  font-weight: lighter; color: #c51020;
}
.user_box .box_1 .userCenterBox .userMenu  {
  padding: 15px 0 15px 20px;
}
.user_box .box_1 .userCenterBox .userMenu span  {
 background: url('/themes/default/images/sanjiao.png') no-repeat 0px 1px; padding-right: 10px;
}
.user_box .box_1 .userCenterBox .userMenu a.curs span  {
 background:none;padding-right: 10px;
}
.userCenterBox table td{height: 20px; line-height: 20px; padding: 5px;}
.userCenterBox table td input.inputBg{width: 200px;}






























